[Unit]
Description=Zeelo BusBot, API scraper and displayer
After=network.target

[Service]
User=bus_bot
Group=bus_bot

ExecStart=/usr/alifeee/bus_bot/env/bin/python bot.py
WorkingDirectory=/usr/alifeee/bus_bot

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
